<DOCTYPE html>
<html lang="en">
  
  
<head>
  <h2>French Hot Chocolate Recipe</h2>
</head>
<body>
  <style>ul{
  padding:60px;
  margin-top:20px;
}
ol{
  margin-right:20px;
}
h3{
  text-align:center;
  color:green;
  
}
h4{
  color:green;
}
  </style>
  <p> French hot chocolate is a thick, velvety drink made by melting high-quality dark chocolate into warm milk and cream. Whisk milk, cream, 
  and vanilla over medium-low heat until steaming, then remove from heat and whisk in chocolate until smooth.</p> 
  <h3> Ingredients</h3>
  <ul>
    <li> 8 oz. dark chocolate [70% cocoa]</li>
    <li> 1 cup whole milk</li>
    <li> 1/2 cup heavy cream</li>
    <li> 2 tablespoon granulated sugar</li>
    <li> 1/2 teaspoon vanilla extract</li>
    <li>pinch of salt</li>
    <li> whipped cream [optional, for topping]</li>
    <li> cocoa powder [optional, for dusting]</li>
  </ul>
  <h4> Instructions</h4>
  <ol> 
<li> <strong> Heat the base:</strong> In a saucepan over medium-low heat, combine 
milk, cream, sugar, and vanilla. Warm until steaming, but do not boil. Remove from heat.</li>
<li> <strong> Chop the chocolate bar:</strong> Finely chop or grate the chocolate bar to
prep for the next step.</li>
<li> <strong> Melt the chocolate:</strong> Add chopped chocolate and whisk until fully melted
and smooth.</li>
<li> <strong> Thicken:</strong> Return to low heat, stirring constantly, until the 
mixture thickens to a silky glossy consistency [about 5 minutes].</li>
<li> <strong> Serve:</strong> Pour into mugs. Top with whipped cream and cocoa
powder, if desired.</li>
</ol>
<ul>
<h4>Tips</h4>
  <li> <strong> Chocolate Quality:</strong> Use premium dark chocolate for optimal flavor
  and texture.</li>
  <li> <strong> Avoid Boiling:</strong> Overheating can cause separation; keep heat low.</li>
  <li> <strong> Adjust Sweetness:</strong> Add more sugar or a splash of maple syrup, if 
  desired.</li>
  <li> <strong> Serving:</strong> Pair with croissants or biscotti for a classic French 
  experience.</li>
  </ul>
<img src="https://savortheflavour.com/wp-content/uploads/2019/10/French-Hot-Chocolate.jpg"
height="300" width="300"> 
 <a href="https://th.bing.com/th?id=OPHS.rTw7SP%2bgMp7I3g474C474&o=5&pid=21.1&w=191&h=191&c=
 7&o=7&rm=3https://th.bing.com/th?id=OPHS.rTw7SP%2bgMp7I3g474C474&o=5&pid=21.1&w=191&h=191&c=
 7&o=7&rm=3 "> wikipedia</a>
  </body>
</html>

</body>
    body{
      background-color:gray;
      text-align:center;
      padding:20px;
      border: solid 5px white;
    }
    img{
      display: block;
      padding:80px;
    }
h2{
  color:green;
  padding-top:20px;
}
    
